$border-color: #aeaeae;
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.product {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 1300px;
    margin: 0 auto;

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        &-item {
            border: 1px solid $border-color;
            margin: 1em auto;
            width: 100%;
            max-width: 23%;
            padding: 10px;
            &__subtitle {
                text-align: center;
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .product__list-item {
        max-width: 50%;
    }
}
