html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1300px;
  margin: 0 auto;
}

.product__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product__list-item {
  border: 1px solid #aeaeae;
  margin: 1em auto;
  width: 100%;
  max-width: 23%;
  padding: 10px;
}

.product__list-item__subtitle {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .product__list-item {
    max-width: 50%;
  }
}
/*# sourceMappingURL=style.css.map */